@import './Button.module';
@import './Input.module';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  left: 100%;
  bottom: 2rem;
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  position: absolute;
  border-radius: 5px;
  grid-auto-rows: 80px;
  border: 1px solid black;
  grid-template-columns: 80px 80px;
  transition: all ease-out 0.5s;

  img {
    width: 80px;
    cursor: pointer;
    transition: all ease 0.1s;
    box-shadow: 0 0 10px -5px #000000;

    &:hover {
      transform: scale(1.1);
    }
  }

  button {
    border: 0;
    bottom: 2rem;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    background-color: white;
    right: calc(100% + 0.5rem);
    transition: all ease 0.1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &.open {
    left: calc(100% - 160px - 4rem);
  }
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.button-dimension {
  width: 100%;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.content {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  p {
    width: 100%;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    button {
      border: none;
      cursor: pointer;
      position: relative;
      transition: all 0.1s ease;
      background-color: transparent;

      span {
        left: 100%;
        z-index: 1;
        font-size: 0.5rem;
        color: black;
        visibility: hidden;
        position: absolute;
        border-radius: 5px;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:hover span {
        visibility: visible;
      }
    }
  }
}
